/*CHARACTER SIDE*/

#characters_body {
    background-color: black;
}

.h1_characters {
    margin-right: 40px;
    padding-top: 75px;
}

.main_img_characters {
    margin-left: 435px;
    margin-top: 30px;
}


.my_lab_partners {
    font-family: "andalemo";
    font-size: 20px;
    text-align: center;
    color: rgb(228, 165, 82);
    text-shadow: 3px 0 5px #a65310;
    padding-top: 30px;
    padding-right: 10px;

}

.okabe_parrafo {
    font-family: "andalemo";
    font-size: 20px;
    text-align: center;
    color: rgb(228, 165, 82);
    text-shadow: 3px 0 5px #a65310;
    padding-bottom: 70px;
    padding-right: 10px;
}

.flexbox_characters {
    display: flex;
    justify-content: space-evenly;
}

.flexbox_characters_2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.flexbox_other_characters {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.parrafo_img {
    color: #fff;
    text-align: center;
    padding-top: 5px;

}
@media (max-width: 576px){
    .h1_characters{
        margin-right: 10px;
    }
    .main_img_characters {
        margin-left: 70px;
        width: 60%;
    }
    .my_lab_partners {
        font-size: 13px;
    }
    .okabe_parrafo {
        font-size: 13px;
    }
   .img_characters{
    width: 100%;
   }
   .img_characters_2{
    width: 50%;
    margin-left: 30px;
   }
  .parrafo_img{
    font-size: 10px;
  }
}
