$color_1: #fff;
$color_2: rgb(228, 165, 82);
$font-family_1: "Barlow_Extralight";
$background-color_1: rgb(0, 0, 0);

/*STORY SIDE*/
#story_body {
	background: {
		color: $background-color_1;
		repeat: repeat;
		size: cover;
	}
}

.h1_story {
	margin-bottom: 30px;
	color: $color_2;
	margin-bottom: 1px;
	padding-top: 40px;
	letter-spacing: -1px;

	font: {
		family: $font-family_1;
		weight: 300;
		size: 60px;
	}

	text: {
		align: center;
		shadow: 3px 0 5px #a65310;
	}
}

.parrafo_main_story {
	color: $color_1;
	padding-top: 70px;
	margin-left: 100px;
	margin-right: 100px;
	margin-left: 100px;

	font: {
		family: $font-family_1;
		size: 17px;
	}

	text: {
		align: left;
	}

}

.h2_story_characters_games_gallery {
	color: $color_2;
	padding-top: 100px;
	padding-bottom: 100px;

	font: {
		family: $font-family_1;
		weight: 400;
		size: 30px;
	}

	text: {
		shadow: 3px 0 5px #a65310;
		align: center;
	}
}

.row {
	display: flex;
	flex-direction: row;
}

.parrafo_article_story_games {
	color: $color_1;
	margin-left: 100px;
	margin-right: 100px;
	font: {
		family: $font-family_1;
		size: 17px;
	}
	text: {
		align: left;
	}
	
}

.image_story {
	margin-right: 100px;
	margin-left: 200px;
}

@media (max-width: 576px) {
	.h1_story {
		font-size: 30px;
	}

	.parrafo_main_story {
		font-size: 10px;
		padding-top: 0px;
		margin-left: 30px;
		margin-right: 0px;
		margin-bottom: 0px;
	}

	.h2_story_characters_games_gallery {
		font-size: 15px;
	}

	.parrafo_article_story_games {
		font-size: 10px;
		margin-left: 30px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
	}

	.image_story {
		margin-left: 10px;
		width: 40%;
		margin-right: 0px;
	}
}